<div class="row">
  <div class="col-md-12 main">
    <h1 class="page-header"><%= @person.name %></h1>

    <%= debug @person %>
  </div>
</div>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
